@import '../styles/variables.less';

.users {
    width: 150px;

    @media (max-width: 620px) {
        margin: 20px auto;
    }
}
.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid @grey-border-1;

    &:last-of-type {
        border: none;
    }
    &:hover {
        .deleteUser {
            display: flex;
        }
    }
}
.editing {
    color: @blue-link;
    font-weight: bold;
    justify-content: center;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}
.confirmModeratorToolTip {
    position: absolute;
    z-index: 2;
    background: white;
    border-radius: 3px;
    padding: 15px;
    box-shadow: 0px 3px 9px darkgrey;
    max-width: 210px;
}
.indicators {
    display: flex;
    justify-content: center;
    align-items: center;
}
.deleteUser {
    display: none;
    align-items: center;
    cursor: pointer;
    padding: 0 5px;
    margin-left: 5px;
    &:hover {
        path {
            fill: @red;
        }
    }
}
.points {
    font-size: 11px;
    margin-left: 10px;
}

.hint {
    margin-top: 20px;
    color: @almost-white;
}