.table {
    width: 100%;
}
.nav {
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.navItem {
    margin: 0 20px;

    &.navActive {
        font-weight: bold;
    }
    &:hover {
        text-decoration: underline;
    }
}
