.headerWrap {
    background: #b81237;
    margin-bottom: 20px;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    color: white;
    align-items: center;
}

.title {
    font-size: 20px;
}

.userName {
    margin-right: 20px;
}