@white: #ffffff;
@white-dark: #f3f3f3;
@grey-border-1: lightgrey;
@grey-border-1-dark: grey;
@grey-border-2: #666;
@blue-button-bg: rgba(6, 149, 204, 1);
@blue-button-bg-dark: rgba(6, 149, 204, .8);
@blue-button-disabled: rgba(6,114,204,1);
@blue-button-border: rgba(6, 114, 204, 1);
@blue-button-hover: rgba(6, 170, 204, 1);
@blue-button-active: rgba(6, 114, 204, 1);
@blue-link: rgba(6, 114, 204, 1);
@blue-link-dark: rgb(79, 188, 255);
@grey-bg-1: #ddd;
@grey-bg-1-dark: #909090;
@grey-bg-2: #aaa;
@grey-bg-2-dark: #eee;
@red-bg: #b81237;
@red-bg-dark: #5c091c;
@bg-dark: #242424;
@red: red;
@green: rgb(0, 174, 0);
@almost-bg: #fcfcfc;
@almost-bg-dark: #242424;