@import '../styles/variables.less';

.indicator {
    max-height: 10px;
    max-width: 10px;
    min-height: 10px;
    min-width: 10px;
    border-radius: 5px;
    display: inline-block;
}
.red {
    background: @red;
}
.green {
    background: @green;
}